<form action="/result" method="post">
  <label for="weight">Add parcel's weight </label>
  <input id="weight" name="weight" type="text">
  <label for="length">Add parcel's length </label>
  <input id="length" name="length" type="text">
  <label for="width">Add parcel's width </label>
  <input id="width" name="width" type="text">
  <label for="height">Add parcel's height </label>
  <input id="height" name="height" type="text">
  <button type="submit"> Add </button>
</form>